@charset "UTF-8";
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,{
margin: 0;
padding: 0; 
font-size: $common-font-size;
font-family: $common-font-family;
color:$common-font-color;   //detail 基本字体颜色
}