#==========================================================
#  以'#'开始的行，被视为注释.    
#  忽略dbg文件和dbg目录     dbg
#  只忽略dbg目录，不忽略dbg文件   dbg/
#  *.mdb  ，*.ldb  ，*.sln 表示过滤某种类型的文件
#  /mtk/do.c ，/mtk/if.h  表示指定过滤某个文件下具体文件
#  !*.c , !/dir/subdir/     !开头表示不过滤
#  *.[oa]    支持通配符：过滤repo中所有以.o或者.a为扩展名的文件
#============================================================

#忽略itemp文件夹
linkeybpm/src/cn/linkey/itemp/

#忽略github.txt文件
#github.txt
/bin/
