@charset "utf-8";
/*
//author relaxWang begin 2015/12
//last modify 2016/12/13
//Version 0.15
//移动端样式定义，兼容PC端浏览器
*/

/* 清除现代IE浏览器的输入框和密码框的默认交互按钮 */
::-ms-clear, ::-ms-reveal{display: none;}
/* 针对不支持语义化标签浏览器做的应对*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
/* chrome内核浏览器对cursor:pointer的样式对象，点击触发样式中会有浅蓝色背景框，用该样式去除 */
/* -webkit-tap-highlight-color:rgba(255,255,255,0); */
/* reset end */
.paramItem {overflow: hidden;}
.paramItem > strong {display:block;font-weight:normal;color:#fff;padding:5px 10px;background-color: #39A4DC;margin:10px 0;}
.paramItem > div {overflow: hidden;}

canvas {border:1px solid #ccc;}
button {padding:5px 15px;border:1px solid #ccc;color:#666;background-color: #fff;border-radius: 6px;}








