<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <filter>
    <filter-name>DesignerFilter</filter-name>
    <filter-class>cn.linkey.servlet.DesignerFilter</filter-class>
  </filter>
  <filter>
    <filter-name>XSSFilter</filter-name>
    <filter-class>cn.linkey.servlet.XSSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/rule?wf_num=R_S003_B036</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/r</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/page</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/view</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/editoraction</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DesignerFilter</filter-name>
    <url-pattern>/designer/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
  </listener>
  <servlet>
    <description>JAX-WS endpoint - WF_ServiceService</description>
    <display-name>WF_ServiceService</display-name>
    <servlet-name>WF_ServiceService</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WF_ServiceService</servlet-name>
    <url-pattern>/WF_CallBackPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WF_ServiceService</servlet-name>
    <url-pattern>/WF_RunRulePort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WF_ServiceService</servlet-name>
    <url-pattern>/WF_OpenProcessPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WF_ServiceService</servlet-name>
    <url-pattern>/WF_RunProcessPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WF_ServiceService</servlet-name>
    <url-pattern>/TestWsPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WF_ServiceService</servlet-name>
    <url-pattern>/WF_RunStartProcessSrvPort</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>作业调度初始化</servlet-name>
    <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>启动定时作业</servlet-name>
    <servlet-class>cn.linkey.servlet.StartTask</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>kaptcha</servlet-name>
    <servlet-class>cn.linkey.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <description>图片边框，合法值：yes,no</description>
      <param-name>kaptcha.border</param-name>
      <param-value>yes</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>kaptcha</servlet-name>
    <url-pattern>/randomcode.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Action</description>
    <servlet-name>Action</servlet-name>
    <servlet-class>cn.linkey.servlet.Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/r</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/rule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/navtree</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/treedata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/editorgrid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/treegrid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/categorydata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/categorygrid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/customgrid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/xmldata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/editoraction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/readgridaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/viewchart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>系统登录</description>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.linkey.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RestAction</display-name>
    <servlet-name>RestAction</servlet-name>
    <servlet-class>cn.linkey.servlet.RestAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestAction</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>