a {font-size:9pt;font-family:"微软雅黑","宋体";color: #00457D; text-decoration: none}
a:hover {color: #FF0000; text-decoration: none;font-family:"微软雅黑","宋体"}
legend,body,form,td{font-size:9pt}
.toptoolbar{padding:2px;border:1px solid #eee;background:#F8F8F8;}
.toptoolbarhr{height:2px;}
form{margin:0px}
.p{height:0px;}
.fieldShow{color:blue}
textarea{overflow:auto;border:1px solid #ccc;}
select {border:1px solid #ccc;}
input[size]{height:20px;border:1px solid #ccc;}

.lschk_ie6{border:0px;height:13px;width:13px}

/*mobile start */
.topbar{position:fixed;top:0;width:100%;height:35px;background:#888;color:#fff;font-size:16px;font-weight:bold;margin:0;BORDER-BOTTOM: #f4f4f4 1px outset;text-align:center;}
.topbar a{color:#fff}
.btn{
	display: block; 
	font-size: 15px; 
	text-decoration: none!important; 
	padding: 4px 6px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
        width:35px;
        text-align:center;
}

input[size]{height:20px;border:1px solid #ccc;width:80%}
input[exttype]{height:20px;border:1px solid #ccc;width:60%}
input[exttype="date"]{height:20px;border:1px solid #ccc;width:40%}

.linkeytable td.texttd{width:15%;min-width:70px;text-align:right;background:#f9f9f9;font-size:9pt;font-family:"微软雅黑","宋体";}

/*mobile end */


/*自定义的样式表*/
.linkeytable{border-collapse:collapse;border: 1px solid #e8e8e8;width:100%;font-size:9pt;}
.linkeytable td{border-collapse:collapse;border: 1px solid #e8e8e8;padding:4px;font-size:9pt;}

/*chrome 样式定义 */
 input,button,select,textarea,div,span,td{outline:none}