html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td{margin:0;padding:0;font-size:9pt;font-family:"微软雅黑","宋体";}
img,body,html{border:0;background-color:#fff;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
.fieldShow{color:blue}

/*chrome 样式定义 */
 input,button,select,textarea,div,span,td{outline:none}
 textarea{resize:none}

/*mobile start */
.topbar{position:fixed;top:0;width:100%;height:35px;background:#888;color:#fff;font-size:16px;font-weight:bold;margin:0;BORDER-BOTTOM: #f4f4f4 1px outset;text-align:center;}
.topbar a{color:#fff}
.btn{
	display: block; 
	font-size: 15px; 
	text-decoration: none!important; 
	padding: 4px 6px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
        width:35px;
        text-align:center;
}

input[size]{height:20px;border:1px solid #ccc;width:80%}
input[exttype]{height:20px;border:1px solid #ccc;width:60%}
input[exttype="date"]{height:20px;border:1px solid #ccc;width:40%}

.linkeytable td.texttd{width:15%;min-width:70px;text-align:right;background:#f9f9f9;font-size:9pt;font-family:"微软雅黑","宋体";}

/*mobile end */

a {font-size:9pt;font-family:"微软雅黑","宋体";color: #00457D; text-decoration: none}
a:hover {color: #FF0000; text-decoration: none;font-family:"微软雅黑","宋体"}
textarea{overflow:auto;border:1px solid #ccc;width:90%}
select {border:1px solid #ccc;}
form{margin:0px}

.toptoolbar{padding:2px;border:1px solid #ddd;background:#F8F8F8;}
.toptoolbarhr{height:2px;}
.lschk_ie6{border:0px;height:13px;width:13px}
.linkeytable{border-collapse:collapse;border: 1px solid #cccccc;width:100%;font-size:9pt;}
.linkeytable td{border-collapse:collapse;border: 1px solid #dddddd;padding:4px;font-size:9pt;font-family:"微软雅黑","宋体";}


.CollapseSubForm{color:#0099FF;padding-left:20px;cursor:pointer;background:url(../images/icons/collapse.gif) no-repeat left top}
.ExpandSubForm{color:#0099FF;padding-left:20px;cursor:pointer;background:url(../images/icons/ns-expand.gif) no-repeat left top}
.ApprovalForm{padding-top:10px}

/*审批处理单样式定义*/
.ApprovalMsg{padding-left:15px;color:#0099FF;width:90%;font-size:9pt;cursor:default;font-family:"微软雅黑","宋体";background:url(../images/icons/ns-expand.gif) no-repeat left}
.ApprovalBottom{padding-top:10px;padding-right:5px;padding-bottom:12px;font-size:9pt;font-family:"微软雅黑","宋体";}
.ApprovalBottom a{text-decoration: underline;font-family:"Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;}
.ApprovalBottom a:hover{color: #FF0000;text-decoration: none;font-family:"Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;}
.Approvaltable{border-collapse:collapse;border: 1px solid #cccccc;width:100%;font-size:9pt;font-family:"微软雅黑","宋体"}
.Approvaltable td{border-collapse:collapse;border: 1px solid #cccccc;padding:4px;font-size:9pt;font-family:"微软雅黑","宋体"}
.Approvaltable td.texttd{text-align:right;background:#f9f9f9;font-family:"微软雅黑","宋体"}
.ApprovalToptable td{color:#999;font-size:9pt;font-family:"微软雅黑","宋体";}
.ApprovalToptable a{color: #cc3300; text-decoration: underline;font-family:"微软雅黑","宋体"}
.ApprovalCurNode{color:#0066cc;}
.ApprovalTopBtn td{color:#ffffff;font-size:12px;font-weight:bold; font-family:"微软雅黑","宋体";}
.ApprovalTopBtn a{color: #FFFFFF;font-size:12px; font-weight:bold; cursor:pointer; text-decoration:none';font-family:"微软雅黑","宋体"}


