<Context path="/osbpm_dev"  crossContext="false" reloadable="true" >
	<Resource name="jdbc/default" 
		  auth="Container"
		  type="javax.sql.DataSource"
		  factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
		  testWhileIdle="true"
		  testOnBorrow="true"
		  testOnReturn="false"
		  validationQuery="SELECT 1 "
		  validationInterval="30000"
		  timeBetweenEvictionRunsMillis="30000"
		  maxActive="100"
		  minIdle="10"
		  maxWait="100000"  
		  initialSize="50"
		  removeAbandonedTimeout="12000"
		  removeAbandoned="true"
		  logAbandoned="true"
		  minEvictableIdleTimeMillis="30000"
		  jmxEnabled="true"
		  jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer"
		  username="root"
		  password="1234"
		  
	 	  driverClassName="com.mysql.jdbc.Driver"
		  url="jdbc:mysql://127.0.0.1:3306/osbpm_dev?useUnicode=yes&amp;characterEncoding=UTF8" 
		  
	/>

<!--   driverClassName="oracle.jdbc.OracleDriver"
		  url="jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.2.15)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl))) "
		  -->
<!-- 
	##Oracle  
	##validationQuery="SELECT 1 from dual"
	driverClassName="oracle.jdbc.OracleDriver"
		  url="jdbc:oracle:thin:@127.0.0.1:1521:alibao"
	
	##SQL Server  
	##validationQuery="SELECT 1"
	driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
		  url="jdbc:sqlserver://localhost:1433;DatabaseName=bpmsvg"
		  
	##MySQL
	##validationQuery="SELECT 1"
	driverClassName="com.mysql.jdbc.Driver"
		  url="jdbc:mysql://127.0.0.1:3306/bpm_uiex?useUnicode=yes&amp;characterEncoding=UTF8" -->
</Context>