	div {
/*		margin-top:1em;
		margin-bottom:1em;*/
	}
	input {
		padding: .5em;
		margin: .5em;
	}
	select {
		padding: .5em;
		margin: .5em;
	}
	#signatureparent {
		color:darkblue;
		background-color:darkgrey;
		/*max-width:600px;*/
		width: 266px;
		/*padding:5px;*/
	}
	#signature {
		/*border: 2px dotted black;*/
		background-color:lightgrey;
	}
	html.touch #content {
		float:left;
		width:100%;
	}
	html.touch #scrollgrabber {
		float:right;
		width:4%;
		margin-right:2%;
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAFCAAAAACh79lDAAAAAXNSR0IArs4c6QAAABJJREFUCB1jmMmQxjCT4T/DfwAPLgOXlrt3IwAAAABJRU5ErkJggg==)
	}
	html.borderradius #scrollgrabber {
		border-radius: 1em;
	}
	#tools{
		position: relative;
    		top: 10px;
	}
	#tools textarea{
		display: none;
	}