@charset "UTF-8";

/*
 * 通用文字颜色、时间控件文字颜色……
 */
$common-all-main-text-color:#971459;
$common-all-main-text-color2:#ffffff; //鼠标移动和点击时文字颜色、标题字体颜色

/*
 * 主窗口背景颜色、点击时背景颜色……
 */
$common-all-main-background:#fee2f0;

/*
 * 通用颜色2，左侧导航树背景、视图背景、开发端菜单栏背景……
 */
$common-all-main-background2:#f7a0cd;

/*
 * 通用颜色3，页面头部背景、视图第一行背景……
 */
$common-all-main-background3:#e35d92;

/*
 * 通用颜色4，tab栏背景颜色……
 */
$common-all-main-background4:#f7c1db;

/*
 * 通用颜色5，流程中心模板背景……
 */
$common-all-main-background5:#f7a0cd;


