@charset "UTF-8";
.window {
    overflow: hidden;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    background-color: $window-background-color;
    background: -webkit-linear-gradient(top,$window-w-l-g1 0,$window-w-l-g2 20%);
    background: -moz-linear-gradient(top,$window-m-l-g1 0,$window-m-l-g2 20%);
    background: -o-linear-gradient(top,$window-o-l-g1 0,$window-o-l-g2 20%);
    background: linear-gradient(to bottom,$window-l-g1 0,$window-l-g2 20%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8,endColorstr=#eeeeee,GradientType=0);
    .window-header {
        background: transparent;
        padding: 0px 0px 6px 0px;
        .panel-icon {
            left: 1px;
        }
        .panel-tool {
            right: 1px;
        }
        .panel-with-icon {
            padding-left: 18px;
        }
    }
    .window-body {
        border-width: 1px;
        border-style: solid;
        border-top-width: 0px;
    }
    .window-body-noheader {
        border-top-width: 1px;
    }
}
.window .window-header .panel-icon,
.window .window-header .panel-tool {
    top: 50%;
    margin-top: -11px;
}
.window-proxy {
    position: absolute;
    overflow: hidden;
    border: 1px dashed $window-proxy-dashed;
}
.window-proxy-mask {
    position: absolute;
    filter: alpha(opacity=5);
    opacity: 0.05;
}
.window-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=40);
    opacity: 0.40;
    font-size: 1px;
    *zoom: 1;
    overflow: hidden;
}
.window,
.window-shadow {
    position: absolute;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.window-shadow {
    background: #ccc;
    -moz-box-shadow: 2px 2px 3px $window-shadow-m-b-s;
    -webkit-box-shadow: 2px 2px 3px $window-shadow-w-b-s;
    box-shadow: 2px 2px 3px $window-shadow-b-s;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}
.window,
.window .window-body {
    border-color: $window_window-body-border-color;
}
.window-proxy-mask,
.window-mask {
    background: $window-proxy-mask_window-mask-background;
}
