/*可以在这里添加你自己的css*/
.linkeytable{border-collapse:collapse;border: 1px solid #e8e8e8;width:100%;font-size:9pt;}
.linkeytable td{border-collapse:collapse;border: 1px solid #e8e8e8;padding:4px;font-size:9pt;height:22px}
.linkeytable td.texttd{text-align:right;background:#f9f9f9;font-size:9pt;}

/* add by alibao 添加插入图片样式 */
img{
	max-width:100%; /*图片自适应宽度*/
}
body {
overflow-y: scroll !important;
}
.view {
word-break: break-all;
}
.vote_area {
display: block;
}
.vote_iframe {
background-color: transparent;
border: 0 none;
height: 100%;
}
